@import "./reset.css";
@import "./fonts.css";

/* Global Styles
   ========================================================================== */
:root {
  /* Color Scheme */
  --black: #000;
  --white: #fff;
  --gray: #ededed;
  --green: #acfb5b;
  --yellow: #ffec06;
  --pink: #ffadff;
  --blue: #0d6afa;
  --indigo: #680dfa;
  --orange: #ffaa46;

  /* Fonts */
  --font-primary: sans-serif;
  --font-secondary: serif;

  /* Header */
  --header-min-height: 125px;
  --header-min-height-tight: 100px;

  /* Misc */
  --y-spacer: 50px;
  --y-spacer-lg: 135px;
  --x-spacer: 4.375vw;
  --radius: 10px;
  --radius-s: 2px;

  font-variant-ligatures: common-ligatures;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-primary);
}

h5,
h6,
p {
  font-family: var(--font-secondary);
}

h1 {
  letter-spacing: -6px;
}

h2,
h3,
h5,
h4 {
  letter-spacing: -3px;
}

h6,
p {
  letter-spacing: -1px;
}

h1 {
  font-size: 55px;
  line-height: 0.95;
}

h2 {
  font-size: 48px;
  line-height: 0.92;
}

h3 {
  font-size: 42px;
  line-height: 1;
}

h4 {
  font-size: 36px;
  line-height: 1.13;
}

h5 {
  font-size: 31px;
  line-height: 1.16;
}

h6 {
  font-size: 27px;
  line-height: 1.35;
}

p {
  font-size: 24px;
  line-height: 1.5;
}

p.s {
  font-size: 21px;
  line-height: 1.43;
}

p.xs {
  font-size: 15px;
  line-height: 1.33;
  letter-spacing: 0;
}

p.xxs {
  font-size: 10px;
  line-height: 1.5;
  letter-spacing: 0;
}

img {
  object-fit: cover;
  border: var(--elt-border);
}

a {
  position: relative;
}

a:not(.no-decoration):after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0.075em;
  min-height: 1px;
  -webkit-transform-origin: right;
  transform-origin: right;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  background-color: currentColor;
  -webkit-transition: -webkit-transform 0.95s cubic-bezier(0.19, 1, 0.22, 1);
  transition: -webkit-transform 0.95s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 0.95s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 0.95s cubic-bezier(0.19, 1, 0.22, 1),
    -webkit-transform 0.95s cubic-bezier(0.19, 1, 0.22, 1);
}

a:not(.no-decoration):hover:after {
  -webkit-transform-origin: left;
  transform-origin: left;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

@media screen and (min-width: 375px) {
  h1 {
    font-size: calc(55px + (157 - 55) * ((100vw - 375px) / (1440 - 375)));
  }

  h2 {
    font-size: calc(48px + (117 - 48) * ((100vw - 375px) / (1440 - 375)));
  }

  h3 {
    font-size: calc(42px + (88 - 42) * ((100vw - 375px) / (1440 - 375)));
  }

  h4 {
    font-size: calc(36px + (66 - 36) * ((100vw - 375px) / (1440 - 375)));
  }

  h5 {
    font-size: calc(31px + (49 - 31) * ((100vw - 375px) / (1440 - 375)));
  }

  h6 {
    font-size: calc(27px + (37 - 27) * ((100vw - 375px) / (1440 - 375)));
  }

  p {
    font-size: calc(24px + (27 - 24) * ((100vw - 375px) / (1440 - 375)));
  }
}

@media (max-width: 1125px) {
  :root {
  }
}

@media (max-width: 800px) {
  :root {
  }

  h1 {
    letter-spacing: -3px;
  }

  h2,
  h3,
  h4,
  h5 {
    letter-spacing: -2px;
  }

  h6,
  p {
    letter-spacing: -1px;
  }

  img {
    object-fit: contain;
  }
}

@media (max-width: 800px) {
  .hide-on-mobile {
    display: none !important;
  }
}

@media (min-width: 800px) {
  .hide-on-desktop {
    display: none !important;
  }
}

/* @media screen and (min-width: 1440px) {
  h1 {
    font-size: 157px;
  }

  h2 {
    font-size: 117px;
  }

  h3 {
    font-size: 88px;
  }

  h4 {
    font-size: 66px;
  }

  h5 {
    font-size: 49px;
  }

  h6 {
    font-size: 37px;
  }

  p {
    font-size: 27px;
  }
} */
